#main{
	margin-top:0;
}

body.logged_in #nav li {

    height: 20px;
}

body.logged_in #nav {

    font-weight: bold;
}

body.logged_in #logo {

    height: auto;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

header #header {
	height:100px;
	padding:10px;
	background:white;
    left: 0;
    margin-bottom: 0;
    position: auto;
    right: 0;
    z-index: 1030;
}

#header #logo {
    
    float: left;
    padding: 0 !important;
}

#header #hhu_logo {

    float: right;
}

#nav {

    height: 20px;
    padding-top: 0px;
    float: left;
}
.menu ul{
    border:1px solid #ccc;
    text-shadow:0px 1px 1px #fff;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
    z-index:600;
}



#about_menu_link, #nav li a {

    color: #00578A;
}

#nav div ul.children li {

    background: none;    
    top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

#nav div ul.children li:hover {

    background-color: #2679D0;
}

#nav div ul.children li a {

    color: #00578A !important;
}

div#nav div ul.children {

    padding: 0px;
    border: 1px solid #00578A;    
    min-width: 0px;
    top: 45px;
    right: -1px;
}

div#nav {
    margin-left: 30px;
}
#nav div ul.children {

    height: auto;
    background: none;
    background-image: none;
    
   
}

#nav li.current a {

    color:#00578A;
}

#nav li, #nav li:hover, #nav li.current, #nav li.current {

    line-height: 1;

  
    /* 
     * Override the margin property for smaller
     * borders between the list (nav) elements.
     */    
    margin-left: -2px !important;
    margin-right: -1px !important;
    
    position: relative;
    top: -2px;
    height: 30px;
}

#nav li:last-child, #nav li:hover:last-child, #nav li.current:last-child{

    margin-right: -2px !important;
}

div #user_menu a.show_me {

    line-height: 1;
}

div.menu h1 {
    
    display: inline;
    position: relative;
    top: -10px;
    left: -250px;
    font-size: medium;
}

div #user_menu {

    float: left;
    background: none;
    margin-left: 20px;
}




#nav ul {
    display: block;
    float: left;
    height: 20px;
    padding: 2px;

}

#nav li a {
    color: #90969C;
    margin-top: -10px;
    padding-left: 25px;
    padding-right: 25px;
}


#nav li.current a,#nav li:hover a{
    color: #005580;
}

#nav li.current ,#nav li:hover {
    background: none;
    cursor: default;
    height: 10px;
    color: #FFFFFF;
}

.full_teaser{
	padding:0;
}


#instance_list{
	padding-top:25px;
}


#instance_list ul{
	margin: 0px;
}


#instance_list ul li{
	text-decoration: none;
	list-style-type:none;
}

#instance_list ul li a{
	font-size: 2em;
}

.full_teaser{
	padding-top: 0px;
}
