<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Home")}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Home")}
</%def>


<%block name="main_content">

%if c.new_proposals_pager or c.all_proposals_pager:
<div id="new_proposals_table" class="table">
    %if c.new_proposals_pager:
    <h3 class="section">${_("Newest Proposals")}</h3>
    ${c.new_proposals_pager.here()}
    %endif
    %if c.all_proposals_pager:
    ${c.all_proposals_pager.here()}
    %endif

    <div id="proposal-actions">
        <% auth = check.proposal.create() %>
        %if auth:
        <a class="button add ttip" 
           title="${_('Introduce a new idea to debate.')}" 
           href="${h.base_url('/proposal/new')}">${_("new proposal")}</a>
        %elif auth.propose_join():
        <a class="button add ttip" 
           title="${_('Join instance to create a new proposal.')}" 
           href="${h.base_url('/proposal/new')}" rel="#overlay-join-button">${_("new proposal")}</a>
        %elif auth.propose_login():
        <a class="button add ttip" 
           title="${_('Login to create a new proposal.')}" 
           href="${h.base_url('/proposal/new')}" rel="#overlay-login-button">${_("new proposal")}</a>
        %elif auth.propose_validate_email():
        <a class="button add ttip" 
           title="${_('Validate email in order to create a new proposal.')}" 
           href="${h.base_url('/proposal/new')}" rel="#overlay-validate-button">${_("new proposal")}</a>
        %endif

        %if not c.all_proposals_pager:
        <a href="${h.base_url('/proposal')}" 
           class="button edit ttip" 
           title="${_('show a list of proposals')}">${_("more proposals")}</a>
        %endif
    </div>

</div>
%endif

</%block>

<%block name="sidebar">

<h2>${c.tile.instance.label}</h2>
${c.tile.description|n}
</%block>
