<footer>
  <div id="footer_links">
      <ul>
          <li><a class="staticlink_details" 
                 href="/i/feedback/instance/feedback">
              Feedback zur Plattform
          </a></li>
          <li><a class="staticlink_terms" 
                 href="/static/terms.html">
              ${_("terms and conditions")}
          </a></li>
          <li><a class="staticlink_privacy" 
                 href="/static/privacy.html">
              ${_("privacy")}
          </a></li>
          <li><a class="staticlink_imprint" 
                 href="/static/imprint.html">
              ${_("imprint")}
          </a></li>
      </ul>
  </div>

  <div id="footer_support">
    Fragen oder technische Probleme? Sie können uns jederzeit unter <a href="mailto:normsetzung-support@cs.uni-duesseldorf.de" style="font-weight:bold">normsetzung-support@cs.uni-duesseldorf.de</a> erreichen.
  </div>

  <div id="footer_adhocracy">
    <span>Diese Plattform wird betrieben mit</span>
    <a href="https://github.com/liqd/adhocracy/#adhocracy" title="AdhocracyCode" id="link_footer_logo"><img src="/images/logo_adhocracy_code_footer.png" alt="AdhocracyCode" /></a>
  </div>
</footer>
