<footer>
  <div style="height: 10px;" id="footer_links">
  </div>

  <div id="footer_support">
    Questions or technical problems? We can help you at <a href="mailto:normsetzung-support@cs.uni-duesseldorf.de" style="font-weight:bold">normsetzung-support@cs.uni-duesseldorf.de</a>.
  </div>

  <div id="footer_adhocracy">
    <span>This platform uses</span>
    <a href="https://github.com/liqd/adhocracy/#adhocracy" title="AdhocracyCode" id="link_footer_logo"><img src="/images/logo_adhocracy_code_footer.png" alt="AdhocracyCode" /></a>
  </div>
</footer>
