<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="b" file="/breadcrumbs.html"/>
<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">
${b.tail(h.site.name())}
</%def>

<%block name="content_wrapper">

<div class="frontpage_description">
  %if c.body is not None:
  ${c.body|n}
  %endif
</div>

%if c.instances:
<div id="instance_list" class="frontpage_main">
  <ul>
      %for instance in c.instances:
          <li>
      <a title="${ instance.label }"
	 href="${ h.entity_url(instance) }"> ${ instance.label }
      </a>
          </li>
      %endfor
  </ul>
</div>
%endif

</%block>
