<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()"></%def>

<%block name="content_wrapper">

<div class="frontpage_description">
  ${h.staticpage.get_body('root')|n}
</div>

%if c.instances:
<div id="instance_list" class="frontpage_main">
  <ul>
      %for instance in c.instances:
          <li>
      <a title="${ instance.label }"
	 href="${ h.entity_url(instance) }"> ${ instance.label }
      </a>
          </li>
      %endfor
  </ul>
</div>
%endif

</%block>
