<%def name="nav_link(href, text, li_class='', a_class='',  a_rel='', id_='', title='', condition=True)">
%if condition:
<li class="${li_class}" id="${id_}">
    <a href="${href}" class="${a_class}" rel="${a_rel}" title="${title}">${text}</a>
</li>
%endif
</%def>


<%def name="global_nav(active)">

<% 
   active_nav = {}
   active_nav[active] = 'current'

   def _class(identifier):
       return active_nav.get(identifier, '')
%>

<nav>
    <div id="nav" class="menu hlist">
        <ul>
            %if c.user is None:
                ${nav_link(href=h.login_redirect_url(),
                           a_rel='#overlay-default',
                           text=_("Login"),
                           li_class=_class('login'),
                           id_="nav_login")}
            %else:            
                <li class="user_name">
                    <a href="${h.entity_url(c.user, instance=c.instance, member='edit')}">
                        ${c.user.name}
                    </a>
                </li>
<!--
            <li>
                    <a href="${h.entity_url(c.user, member='dashboard')}">
                        ${_('Watchlist')}
                    </a>
                </li>
-->
                 %if h.has_permission("global.admin"):
                    <li>
                        <a href="${h.base_url(path='/admin', instance=None)}">
                            ${_('Administrate Site')}
                        </a>
                    </li>
                %endif
                <li>
                    <a href="${h.base_url(path='/logout', instance=None)}">${_("Logout")}</a>
                </li>
            %endif
        </ul>        
        <div id="breadcrumbs">
            ${caller.breadcrumbs()}
        </div>
    </div>
</nav>
</%def>


<%def name="subheader_instance_navigation(active)">
</%def>

