<%def name="votes(poll)">
<%
tally = poll.tally
num_votes = tally.num_for + tally.num_against
url = h.entity_url(poll, member='votes')
if check.poll.show(poll):
    tpl = _('A total of <a href="%(url)s">%(votes)s votes</a>, thereof %(for)s ayes and %(against)s nays')
else:
    tpl = _('A total of %(votes)s votes, thereof %(for)s ayes and %(against)s nays')
    para = tpl % {
        'url': url,
        'for': '<span class="vote_for">%s</span>' % tally.num_for,
        'against': '<span class="vote_against">%s</span>' % tally.num_against,
        'votes': '<span class="vote_total">%s</span>' % num_votes
    }
%>

<h6>${_('Votes')}</h6>
<p class="vote_sidebar">
    ${para|n}
</p>

</%def>

<%def name="votedetail(vd)">
%if vd:
<h6>${_('Votes by User Group')}</h6>
<table class="votedetail">
%for v in vd:
<tr class="badge_${v['badge']['id']}">
    <th>${v['badge']['title']}</th>
    <td class="vote_for">${v['tally']['num_for']}</td>
    <td class="vote_colon">:</td>
    <td class="vote_against">${v['tally']['num_against']}</td>
</tr>
%endfor
</table>
<p />
%endif
</%def>

<%def name="shortlink(delegateable)">
<%
shortlink = h.site.shortlink_url(delegateable)
%>

<h6>${_('Shortlink')}</h6>
<p><a href="${shortlink}">${shortlink}</a></p>

</%def>
