<%def name="votes(poll)">
<%
tally = poll.tally
num_votes = tally.num_for + tally.num_against
url = h.entity_url(poll, member='votes')
if check.poll.show(poll):
    tpl = _('A total of <a href="%(url)s">%(votes)s votes</a>, thereof %(for)s ayes and %(against)s nays')
else:
    tpl = _('A total of %(votes)s votes, thereof %(for)s ayes and %(against)s nays')
    para = tpl % {
        'url': url,
        'for': '<span class="vote_for">%s</span>' % tally.num_for,
        'against': '<span class="vote_against">%s</span>' % tally.num_against,
        'votes': '<span class="vote_total">%s</span>' % num_votes
    }
%>

<h6>${_('Votes')}</h6>
<p class="vote_sidebar">
    ${para|n}
</p>

</%def>

<%def name="votedetail(vd)">
%if vd:
<h6>${_('Votes by User Group')}</h6>
<dl class="votedetail">
%for b, tally in vd:
	<dt>${b.title}</dt>
	<dd><span class="num_for">${tally.num_for}</span> : <span class="num_against">${tally.num_against}</span></dd>
%endfor
</dl>
<p />
%endif
</%def>

<%def name="shortlink(delegateable)">
<%
shortlink = h.site.shortlink_url(delegateable)
%>

<h6>${_('Shortlink')}</h6>
<p><a href="${shortlink}">${shortlink}</a></p>

</%def>
