<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="sidebar_defs" file="/sidebar.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>
<%namespace name="b" file="/breadcrumbs.html"/>

<%def name="title()">${c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${b.prefix()} ${b.tail(c.proposal.title)}
</%def>

<%block name="admin_controls">

<%components:admin_controls>

## FIXME: Reenable for adopt poll
##%if can.proposal.adopt(proposal):
##<a class="button title add ttip" title="${_('Call a vote on this proposal by freezing further development.')}" 
##   href="${h.entity_url(proposal, member='ask_adopt')}">${_("call a vote")}</a>
##%endif

%if lib.auth.authorization.has('global.admin'):
<a class="button edit" href="${h.entity_url(c.proposal, member='badges')}">${_("Edit Badges")}</a>
%endif
                                
%if can.proposal.delete(c.proposal):
<a class="button title delete ttip" title="${_('Delete this proposal.')}"   
   href="${h.entity_url(c.proposal, member='ask_delete')}">${_("delete")}</a>
%endif
</%components:admin_controls>

</%block>


<%block name="main_content">
<% 
url = h.base_url('/delegation/new?scope=%s' % str(c.proposal.id))
delegate_url = url if can.delegation.create() else None

vote_widget = u''
if not c.proposal.is_adopt_polling() and c.proposal.rate_poll:
  vote_widget = tiles.poll.widget(c.proposal.rate_poll, cls='big', delegate_url=delegate_url)
if c.proposal.is_adopt_polling():
  vote_widget = tiles.poll.widget(c.proposal.adopt_poll, cls='big', delegate_url=delegate_url)
%>
            <section>
              <article>
                <h2 class="proposal_title">${vote_widget}${c.proposal.title}
                <span class="utility">
                    %if can.proposal.edit(c.proposal):
                    <a href="${h.entity_url(c.proposal, member='edit')}">
                        ${_("edit")}
                    </a>
                    %endif
                    %if h.config.get_bool('adhocracy.show_abuse_button'):
                    <a href="${h.abuse.for_entity(c.proposal)}">
                        ${_("report")}
                    </a>
                    %endif
<!--                     <a href="${c.history_url}"
                       rel="#overlay-ajax">${'history'}</a>
 -->
                </span>
                </h2>

                ${tiles.page.inline(c.proposal.description, 
                        hide_discussion=c.instance.use_norms and len(c.proposal.selections))}

                ${components.social_share_buttons(c.proposal)}

              </article>

              <div id="main_comments"
                  %if c.monitor_comment_url:
                  data-stats-baseurl="${c.monitor_comment_url}"
                  %endif
              >
              <a name="discussions"></a>
              <h3 id="discussions">
                  ${_('Comments') if h.comment.wording() else _('Discussions')}
              </h3>
                  ## comments are attached to the description which is a
                  ## :class:`adhocracy.model.Page`
                  ## proposal descriptions have no other variant than head.
                  ${tiles.comment.list(c.proposal.description, 
                                       variant=c.proposal.description.head.variant)}
            </div>
            </section>
            

            %if c.show_selections:
            <section>
              <h3 id="proposals">${_("Proposed Implementations")}</h3>
              <div class="hr"><hr /></div>
              <ul class="papers_list">
                  %for selection in c.sorted_selections: 
                  ${tiles.selection.row(selection)}
                  %endfor
              </ul> 
              <div class="list_button">
              <% auth = check.selection.create(c.proposal) %>
              <div id="propose-variant"></div>
              %if auth:
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}">
                  ${_("Propose to change a norm")}
              </a>
              %elif auth.propose_login():
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}" 
                 rel="#overlay-login-button" 
                 title="${_('Login to propose to change a norm')}">
                  ${_("Propose to change a norm")}
              </a>
              %elif auth.propose_join():
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}" 
                 rel="#overlay-join-button" 
                 title="${_('Join instance to propose to change a norm')}">
                  ${_("Propose to change a norm")}
              </a>
              %endif          
              </div>
              <%doc> FIXME: Enable change existing norm option
              %if norm.can.create
              <a class="button" 
                 title="${_('Propose to create a norm through this proposal.')}" 
                 href="${h.entity_url(c.proposal, member='implementation/propose')}">
                  ${_("propose new norm")}
              </a>
              </div>
              </%doc>

            </section>
             
            %endif


</%block>


<%block name="sidebar">

${components.watch(c.proposal)}

<summary>

    <h6>${_('Proposal')}</h6>
    ## FIXME: ensure caching of history count (make it a tile?)
    <p>
<%
created_msg = _("by %s on %s, %s changes since then.") % (
    h.user.link(c.proposal.creator), 
    h.date_tag(c.proposal.create_time),
    len(c.proposal.description.variant_history(model.Text.HEAD)))
%>
    ${created_msg|n}
    </p>

    ${sidebar_defs.shortlink(c.proposal)}

    <h6>${_('Last Activity')}</h6>
    <p><time>
        ${h.datetime_tag(
        c.proposal.find_latest_comment_time())|n}
    </time></p>

    <% tally = c.proposal.rate_poll.tally %>

    %if not c.instance.voting_disabled:
    ${sidebar_defs.votes(c.proposal.rate_poll)}

    ${sidebar_defs.votedetail(c.votedetail)}
    %endif

    %if c.proposal.category:
    <h6>${_('Category')}</h6>
    <p>
      ${c.proposal.category}
    </p>
    %endif

    <% milestone = c.proposal.milestone %>
    %if milestone:
    <h6>${_('Milestones')}</h6>
    <p>
        
        %if milestone.is_deleted():
        ${_("This proposal relates to the deleted milestone %s."
        ) % h.milestone.link(milestone)|n}
        %else:
        ${_("This proposal relates to the milestone %s."
        ) % h.milestone.link(milestone)|n}
        %endif
    </p>
    %endif

    ${tiles.tag.sidebar(c.proposal)}
    
    ## FIXME: Reimplement Tagging
    ## <div class="only-js" id="add-tag">
    ##     <a href="#">Schlagwort hinzufügen</a>
    ## </div>
</summary>


</%block>
