<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()"></%def>

<%block name="content_wrapper">

<div class="full_teaser">
  <div class="clearfix"></div>

  <h1>Willkommen auf der HHU-Normsetzung!</h1>

  <div class="instance_list">
    <ul>
        % for instance in c.instances:
            <li>
	      <a title="${ instance.label }"
		 href="${ h.entity_url(instance) }"> ${ instance.label }
	      </a>
            </li>
        % endfor
    </ul>
  </div>
    
  <div id="stats">
      ${_("<b>%s</b> members") % c.stats_global.get('members')|n} ·
      ${_("<b>%s</b> proposals") % c.stats_global.get('proposals')|n}  ·
      ${_("<b>%s</b> comments") % c.stats_global.get('comments')|n} ·
      ${_("<b>%s</b> votes") % c.stats_global.get('votes')|n}
  </div>  
</div>

</%block>
