<!DOCTYPE HTML>
<html>
<head>
	<title>Demo</title>
	<script type="text/javascript">
		document.getElementById('formtosend').submit();
	</script>
</head>
<body>
	<!-- name=value : _tok=09c035875fb4&label=testinstace2&key=testinst&description=asdf -->
	<form action="http://127.0.0.1/instance/" id="formtosend" name="formtosend" >
		<input type="hidden" name="_tok" value="09c035875fb4" />
		<input type="hidden" name="label" value="testinstace1337" />
		<input type="hidden" name="key" value="testinstace1337" />
		<input type="hidden" name="description" value=":D" />
	</form>
</body>
</html>
