<%def name="nav_link(href, text, li_class='', a_class='',  a_rel='', id_='', title='', condition=True)">
%if condition:
<li class="${li_class}" id="${id_}">
    <a href="${href}" class="${a_class}" rel="${a_rel}" title="${title}">${text}</a>
</li>
%endif
</%def>


<%def name="global_nav(active)">

<% 
   active_nav = {}
   active_nav[active] = 'current'

   def _class(identifier):
       return active_nav.get(identifier, '')
%>

<nav>
    <div id="nav" class="menu hlist">
        <ul>
            %if c.user is None:
                ${nav_link(href=h.login_redirect_url(),
                           a_rel='#overlay-default',
                           text=_("Login"),
                           li_class=_class('login'),
                           id_="nav_login")}
            %else:            
                <li class="user_name">
                    <a href="${h.entity_url(c.user, instance=c.instance, member='edit')}">
                        ${c.user.name}
                    </a>
                </li>
                <li>
                    <a href="${h.entity_url(c.user, member='dashboard')}">
                        ${_('Watchlist')}
                    </a>
                </li>
                %if h.has_permission("global.admin"):
                    <li>
                        <a href="${h.base_url(path='/admin', instance=None)}">
                            ${_('Administrate Site')}
                        </a>
                    </li>
                %endif
                <li>
                    <a href="${h.base_url(path='/logout', instance=None)}">${_("Logout")}</a>
                </li>
            %endif
        </ul>        
    </div>
</nav>
</%def>


<%def name="subheader_navigation(logo, label, search_action=None, search_label='', 
                                 search_button_text=None, url=None)">

  <div id="subheader">
    <div id="organisation_logo">
        %if url:
        <a href="${url}">
        %endif
        %if logo:
        <img src="${logo}" alt=""/>
        %endif
        <h2>${label}</h2>
        %if url:
        </a>
        %endif
    </div>
    <nav>
      <div class="hlist">
        <ul id="subnav">

            ${caller.body()}

        </ul>
      </div>
    </nav>
    %if search_action:
    <div id="searchbox">
      <form action="${search_action}" 
            id="searchform" method="get">
        <div class="label_over">
          <label class="over-apply" for="s">${search_label|n}</label>
          <input type="text" id="s" name="serp_q" value="" />
        </div>
        <input type="submit" value="${search_button_text or _('Search')}" 
               id="searchsubmit" />
      </form>
    </div>
    %endif
  </div>

</%def>

<%def name="subheader_instance_navigation(active)">

<% 
   import markupsafe
   from adhocracy.lib.tiles.instance_tiles import InstanceTile
   active_subnav = {}
   active_subnav[active or 'instance'] = 'current'
   search_label = _('Search in &ldquo;%s&rdquo;&hellip;') % markupsafe.escape(c.instance.label)
   logo = ''
   url = None
   if c.instance:
       if InstanceTile(c.instance).show_icon():
           logo = h.instance.icon_url(c.instance, 48)
           url = h.entity_url(c.instance)
   
   def _class(identifier):
       return active_subnav.get(identifier, '')
%>

<%call expr="subheader_navigation(logo, c.instance.label, 
                                  search_action=h.base_url('/search'), 
                                  search_label=search_label, 
                                  url=url)">

  ${nav_link(href=h.entity_url(c.instance),
             text=_(u"Overview"),
             li_class=_class('instance'),
             id_='subnav-overview')}

  ${nav_link(href=h.base_url('/page'),
             text=_("Norms"),
             li_class=_class('norms'),
             condition=c.instance.use_norms,
             id_='subnav-norms')}

  ${nav_link(href=h.base_url('/proposal'),
             text=_("Proposals"),
             li_class=_class('proposals'),
             id_='subnav-proposals')}

  ${nav_link(href=h.base_url('/milestone'),
             text=_("Milestones"),
             li_class=_class('milestones'),
             condition=c.instance.milestones,
             id_='subnav-milestones')}

  ${nav_link(href=h.base_url('/user'),
             text=_("Members"),
             li_class=_class('members'),
             id_='subnav-members')}

  ${nav_link(href=h.entity_url(c.instance, member='settings'),
             text=_("Settings"),
             li_class=(_class('settings') + ' settings'),
             condition=can.instance.edit(c.instance),
             id_='subnav-settings')}

</%call>
</%def>

