<%inherit file="/template.html" />
<%namespace name="b" file="/breadcrumbs.html"/>
<%def name="title()">${_("Who are you, then?")}</%def>
<%def name="breadcrumbs()">
${b.prefix()} ${b.tail(_("Login"))}
</%def>

<%block name="attention_getter">
## disable the attention getter if somebody is about to log in.
</%block>

<%block name="main_content">
  <h3>${_("Login")}</h3>
  <%include file="/user/login_form.html"/>

  <p>${_("If you have an account but you've lost your password, <a href='/reset'>click here</a>.")|n}</p>

</%block>
