<%inherit file="/template.html" />
<%namespace name="b" file="/breadcrumbs.html"/>
<%def name="title()">${_("Who are you, then?")}</%def>
<%def name="breadcrumbs()">
${b.prefix()} ${b.tail(_("Login"))}
</%def>

<%block name="attention_getter">
## disable the attention getter if somebody is about to log in.
</%block>

<%block name="main_content">
## The actual form is in login_tile.html, since it has to be handled by
## htmlfill before pasting in here in order to allow multiple login forms
## on a single page.
${c.login_form_code|n}
</%block>
