<%inherit file="/template.html" />
<%namespace name="b" file="/breadcrumbs.html"/>

<%def name="title()">${_("Password reset")}</%def>

<%def name="breadcrumbs()">
${b.prefix()} ${b.tail(_('Password reset'))}
</%def>

<%block name="headline">
<h1 class="page_title">${_("Password reset")}: ${_("Confirmation pending")}</h1>
</%block>

<%block name="main_content">
<div class="sidebar">
    &nbsp;
</div>
<div class="mainbar">
    <div class="infobox">
        ${_(u'Ihnen wurde eine E-Mail mit einem Link zugesandt. Bitte öffnen Sie diesen Link, um Ihr Passwort zurückzusetzen.')}
    </div>
</div>
</%block>
